.WeatherForecast {
  color: black;
  border: 1px solid rgba(169, 210, 224, 0.492);
  padding: 20px 10px 5px 10px;
}
.WeatherForecast-day {
  color: rgb(6, 19, 107);
  font-size: 16px;
}
.WeatherForecast-max {
  color: rgb(29, 166, 212);
}
.WeatherForecast-min {
  color: rgb(29, 166, 212);
}
