.Weather {
  font-family: "Bitter", serif;
  margin-top: 0px;
}
.Weather,
h1 {
  font-size: 45px;
  color: rgb(127, 177, 250);
  text-transform: capitalize;
}
Weather,
.city {
  font-size: 45px;
  text-transform: capitalize;
}
Weather,
.country {
  text-align: right;
}
.Weather,
.light {
  color: rgb(29, 166, 212);
}
.Weather,
.dark {
  color: rgb(6, 19, 107);
}
.Weather,
form {
  margin-bottom: 20px;
}
Weather,
.search-bar {
  margin: 10px, 0;
  font-size: 15px;
  border: 1px solid rgba(129, 202, 215, 0.783);
  border-radius: 3%;
  box-shadow: 0 8px 8px 0 rgb(37 39 89 / 8%);
}
Weather,
.button-default {
  border: 1px solid #a5e1fb;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0 8px 8px 0 rgb(37 39 89 / 8%);
  color: rgb(41, 39, 39);
  font-size: 15px;
  padding: 1px 14px;
  transition: all 0.3s ease-in-out;
}
Weather,
.button-default:hover {
  border: 1px solid #6fb9d9;
  background: #a5e1fb;
}
.Weather,
.title {
  font-size: 17px;
}

.Weather,
h6 {
  font-size: 13px;
}
